*{
    margin: 0;
    padding: 0;
    }
header{
    background-color: black;
    height: 128px;
    width: 100%;
}
.headernav{
    background-color: rgb(66, 66, 66);
    position: static;
    height: 50px;
}
.headernav_list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}
.headernav_items{
    font-family: helvetica;
    font-weight: bold;
}
.footer{
    background: #000;
    padding: 1rem;
}
table{
    margin: 50px;
}
h1{
    margin-left: 60px;
}